# Visual Studio 2015/2017/2019/2022
.vs/
.vscode/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.idea/
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.exp
*.lib
*.ncb
*.log
*.bak
*.ilk
*.obj
*.pdb
*.res
*.pch
*.sbr
*.bsc
*.map
*.ipch
*.aps
*.manifest
*.tlog
*.lastbuildstate
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.DS_Store
Thumbs.db
.gitattributes